body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

.mainPageHeader {
  width: 100%;
  height: 150px;
  position: relative;
}
.logo {
  width: 60%;
  height: 60%;
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  margin-top: 30px;
}
.wrapper {
  width: 100%;
  height: 120px;
  background: #06b2bb;
}
.signIn {
  margin-left: 500px;
}
.signInBtn {
  display: block !important;
  position: absolute !important;
  top: 20%;
  right: 10%;
  background-color: #06b2bb;
  padding: 2px 5px;
  color: white;
  border-color: white !important;
  border-radius: 30px;
  height: 40px;
  width: 100px;
}
.signInBtn:hover {
  background-color: #ffe18b !important;
  border-color: #ffe18b !important;
}

.pawfessional > span {
  color: #06b2bb;
}
.pawfessional {
  font-size: 50px;
  font-weight: 600;
}
.welcome-text {
  margin-top: 150px !important;
  height: 500px;
  font-family: "Montserrat", sans-serif;
}
.welcome {
  background-image: url("./images/puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-attachment: scroll;
}
.buttons {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  height: 10em;
  line-height: 93px;
  margin-left: -235px;
}

.lostButton {
  height: 93px;
  width: 555px;
  border-radius: 50px;
  background-color: #fa5456;
  background-image: url("./images/paw.svg");
  background-repeat: no-repeat;
  background-position-x: 465px;
  background-position-y: 10px;
  background-size: contain;
  font-family: "Montserrat", sans-serif;
}
.lostButton:hover {
  background-color: #ffe18b !important;
}
.foundButton {
  height: 93px;
  width: 490px;
  border-radius: 50px;
  background-color: #06b2bb;
  font-family: "Montserrat", sans-serif;
}
.foundButton:hover {
  background-color: #06b2bb !important;
}
.join {
  margin-left: -20px;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  width: fit-content;
  margin-bottom: 30px;
}

.service-list {
  margin-top: 20px;
  font-size: 30px;
  color: #06b2bb;
  text-align: center;
}
.list {
  font-weight: 500;
  list-style: none;
}

.list li::before {
  content: "\2022";
  color: #63b5b5;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about-wrapper {
  padding: 30px 170px;
  background-color: #06b2bb;
  color: white;
  min-height: 150px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.petsPic {
  width: 50%;
  height: 100%;
  background-image: url("./images/pets.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.services-container {
  display: flex;
  height: 500px;
  width: 100%;
}
.footer-wrapper {
  background-color: #06b2bb;
  min-height: 130px;
  min-width: 100%;
}
.logo-footer {
  width: 50%;
  height: 60px;
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.signin-text {
  color: #06b2bb;
  font-size: larger;
}

.blue-logo {
  width: 300px;
  height: 150px;
  background-image: url("./images/blue-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
}

.white-container {
  width: 60%;
  height: 650px;
}

.signInUp {
  height: 40px;
  width: 45%;
  background-color: #06b2bb9a;
  border: 1px solid #06b2bb9a;
  cursor: pointer;
}
.signInUp:hover {
  opacity: 0.7;
}
.hide {
  display: none;
}
.blue-bg {
  background-color: #06b2bb;
  height: 100vw;
  padding-top: 150px;
}
.blue-logo-container {
  padding: 10px;
  width: 300px;
  height: 150px;
}
/*.activeClass{*/
/*  opacity: 0.7;*/
/*}*/
/*.activeClassm{*/
/*  opacity: 0.7;*/
/*}*/

.button-block {
  display: flex;
  text-align: center;
}

.submit-button {
  border-radius: 17px;
  background: #06b2bb9a 0% 0% no-repeat padding-box;
  border: 1px solid #8dbfac;
  width: 100px;
  height: 40px;
  opacity: 1;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.cancel-button {
  border-radius: 17px;
  border: 1px solid #8dbfac;
  background-color: white;
  color: #06b2bb9a;
  width: 100px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  margin-right: 5px;
}
.terms-text {
  color: #bababa;
  font-size: 10px;
}
.sideText {
  padding-top: 80px;
  opacity: 0.7;
  font-size: 10px;
  color: #bababa;
}
.sideText-1 {
  margin-top: 30px;
  opacity: 0.7;
  font-size: 10px;
  color: #bababa;
}
.inputForm {
  border: none;
  border-bottom: 1px solid #06b2bb9a;
  width: 250px;
}
input:focus {
  outline: none;
}
.inputForm::placeholder {
  width: 300px;
}
.labelClass {
  margin-right: 30px;
  text-align: right;
  width: 70px;
  color: #bababa;
}
.labeledInput {
  margin-top: 10px;
}

.found-title,
.lost-title {
  color: #06b2bb;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

.found-text,
.lost-text {
  color: #393939;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 25px;
}

.petcard-title {
  color: #707070;
  font-size: 25px;
  font-weight: bold;
}

.petcard-text {
  color: #393939;
  font-size: 13px;
}

.petcard-view {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.petcard-link {
  margin-top: 10px;
}

.lost-wrapper,
.found-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.blue-logo-header {
  width: 180px;
  /*padding-left: 200px!important;*/
}

.homepage-header {
  width: 100vw;
  height: 100px;
  box-shadow: 0px 3px 8px grey;
  padding: 0;
  margin: 0;
}

.sidebar-left,
.sidebar-right {
  min-height: 150vh;
  background-color: #06b2bbcc;
  background-repeat: repeat-y;
  padding-left: 0;
  text-align: center;
}

.lost-found-pets {
  padding-top: 50px;
}

.nav-link.active {
  background-color: white;
  color: #06b2bbcc !important;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

/*.nav-element:focus {*/
/*  background-color: red;*/
/*}*/

.user-profile {
  padding: 5% 15%;
}

.user-text {
  color: #06b2bb;
  font-size: 19px;
  font-weight: bold;
}

.user-title {
  background-color: #06b2bb9a;
  color: #ffffff;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-image-1 {
  border-radius: 50%;
  width: 13%;
  height: 13%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.user-label {
  margin-right: 30px;
  text-align: right;
  width: 70px;
  color: #393939;
  font-weight: bold;
  font-size: 16px;
}

.user-input {
  border: none;
  border-bottom: 1px solid #06b2bb9a;
  width: 80%;
  margin: 8px;
  font-size: 16px;
}

.cancelButton {
  border-radius: 20px;
  border: 1px solid #8dbfac;
  background-color: white;
  color: #06b2bb9a;
  width: 100px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 20px;
  font-size: 13px;
}

.user-button {
  border-radius: 20px;
  background: #06b2bb9a 0% 0% no-repeat padding-box;
  border: 1px solid #8dbfac;
  width: 150px;
  height: 40px;
  opacity: 1;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 20px;
  font-size: 13px;
}

.user-name {
  color: #06b2bb9a;
  font-size: 19px;
}

.img-left {
  margin: 0 20px 10px 0;
  padding: 0;
  float: left;
}

.blue {
  color: #06b2bbcc;
}

.form-container {
  background-color: white;
  font: normal 11px Montserrat;
  letter-spacing: 0px;
  color: #393939;
  opacity: 1;
}
.form-header {
  font-size: 19px;
  color: #06b2bb;
}
.form-container select,
input,
textarea {
  margin-bottom: 5%;
}

.form-container input::placeholder,
select,
option,
textarea::placeholder {
  color: #bababa;
  font: normal 11px Montserrat;
}

.form-container input,
select {
  border: none;
  border-bottom: 1px solid #06b2bb9a;
}
.form-container textarea {
  border: 2px solid #1cb1ba;
  width: 300px !important;
}

.form-container p {
  color: #06b2bb9a;
  font: normal 9px Montserrat;
}
.form-friends {
  background-image: url("./images/height-measurement.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 192px;
  height: 183px;
  opacity: 1;
  margin-left: 25%;
}
.lost-form-submit {
  width: 148px;
  height: 34px;
  background: #06b2bb9a 0% 0% no-repeat padding-box;
  border: 1px solid #13b1ba;
  border-radius: 17px;
  opacity: 1;
  color: white;
}
.lost-button {
  background-color: #fa5456;
  border: 1px solid #ff2c2f;
  border-radius: 17px;
  color: black;
  width: 190px;
}
.found-button {
  background-color: #06b2bb9a;
  border: 1px solid #13b1ba;
  border-radius: 17px;
  color: white;
  width: 190px;
}

.user-image {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
}

.post-pic {
  width: 100%;
  height: 350px;
  background-image: url("images/post-pic-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.post-avatar {
  background-image: url("https://hornews.com/upload/images/akter.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: 50% 50%;
}
.post-avatar-1 {
  background-image: url("https://javasea.ru/uploads/posts/2016-08/1471977012_tom-kruz-tom-cruise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: 50% 30%;
}
.post-avatar-2 {
  background-image: url("https://n1s1.hsmedia.ru/6b/51/d1/6b51d15827a378aa9805e5b580236be0/350x521_0xc0a8392b_104902051428426528.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: 50% 50%;
}
.fa-icon-like span {
  color: #06b2bb9a;
}
.post-section {
  padding: 80px 100px;
}
